<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="8" package="uk.ac.manchester.CinCity2" android:installLocation="internalOnly" android:versionName="0.8.0">
	<uses-sdk android:minSdkVersion="21" android:targetSdkVersion="30" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
	<uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
	<uses-permission android:name="android.permission.INTERNET" />
	<application android:label="@string/app_name" android:icon="@mipmap/icon">
		<!-- To continue using the Apache HTTP client in applications that target API 28 or higher  -->
		<uses-library android:name="org.apache.http.legacy" android:required="false" />
		<!-- Google Maps V2 API Key here -->
		<meta-data android:name="com.google.android.maps.v2.API_KEY" android:value="AIzaSyBxGvSZ9NQzGhPiJp28ht8vSE8Tu37za1Y" />
		<meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />
	</application>
</manifest>